langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain_classic
beautifulsoup4
bs4
pypdf
sentence-transformers
langchain_huggingface
huggingface_hub
chroma
streamlit
tavily-python

