langchain==0.2.11
langchain-core==0.2.7
langchain-community==0.2.7
langchain-text-splitters==0.2.0
langchain-chroma==0.1.2
langchain-groq==0.1.5
langchain-openai==0.1.9

langgraph==0.2.19
chromadb==0.4.24

sentence-transformers
beautifulsoup4
pypdf
huggingface_hub
tavily-python
streamlit
