langchain
langchain_core
langchain_community
langchain_chroma
langchain_groq
langchain_huggingface
langgraph
chromadb
beautifulsoup4
pypdf
sentence-transformers
huggingface_hub
tavily-python
streamlit
